.card{
    width: 300px;
    margin-top: 25px;
    height: 350px;
}
.cardActions{
    margin-left: 23%;
}

@media (min-width: 300px){
    .card{
        margin-left: 10%;
    }
}

@media (min-width: 600px){
    .card{
        margin-left: 43%;
    }
}