.BuildControls{
    background-color: #ffc107;
    height: 60vh;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    flex-flow: column;
    box-shadow: 0 2px 2px #ccc;
    overflow-y: scroll;
}

