.List{
    background-color: #424242;
    width: 30vh;
    height: 100vh;
    /* color: white; */
    font-weight: bold;
    margin-top: 50px;
}

.ListButtons{
    text-decoration: none;
    color: white;
}