
.details{
    cursor: pointer;
}

@media (min-width: 300px){
    .card{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .details{
        margin-left: 30%;
    }
}

@media (min-width: 600px){
    .card{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .details{
        margin-left: 80%;
    }
}